{% extends 'base.html' %}
{% block content %}
    {# 项目 + 主机    #}
    <h1>查看日志</h1>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        项目 <select name="host" id="project_list" class="form-control-static" required="required">
        {% for project_obj in project_list %}
            <option value="{{ project_obj.pk }}">{{ project_obj.project }}</option>
        {% endfor %}
    </select>

        <select name="project" id="id_city" class="form-control">

        </select>
        <input type="submit" class="btn btn-success">
    </form>
    <script>
        $("#project_list").change(function () {
            var project_id = $(this).val();
            {#alert(project_id);#}
            $.ajax({
                url: '{% url 'host_list' %}',
                data: {'project_id': project_id},
                type: 'post',
                dataType: 'JSON',
                success: function (args) {
                    var content = '';
                    $.each(args, function (i, item) {
                        console.log(item.hostname);
                         content+='<option value='+item.id+'>'+item.hostname+'</option>'
                    });
                    $('#id_city').html(content)
                }
            })
        })
    </script>
{% endblock %}