{% extends 'index.html' %}
{% block content %}

    <h1 class="text-center">书籍添加页面</h1>
    <form action="/book/add/" method="post">
        <p>书籍名称 <input type="text" name="title" class="form-control"></p>
        <p>书籍价钱 <input type="text" name="price" class="form-control"></p>

        <p><select name="publish" id="" class="form-control">
            {% for publish_obj in publish_queryset %}
                <option value="{{ publish_obj.pk }}">{{ publish_obj.name }}</option>
            {% endfor %}
        </select></p>
        <p><select name="author" id="" multiple class="form-control">
            {% for author in author_queryset %}
                <option value="{{ author.pk }}">{{ author.name }}</option>
            {% endfor %}

        </select></p>
        <p><input type="submit" class="btn btn-primary"></p>
    </form>
{% endblock %}