{% extends 'index.html' %}

{% block content %}
    <h1 class="text-center">书籍添加编辑</h1>
    <form action="" method="post">
        <p>书籍名称 <input type="text" name="title" class="form-control" value="{{ edit_obj.title }}"></p>
        <p>书籍价钱 <input type="text" name="price" class="form-control" value="{{ edit_obj.price }}"></p>

        <p><select name="publish" id="" class="form-control">
            {% for publish_obj in publish_queryset %}
                {% if publish_obj == edit_obj.publish %}
                    <option value="{{ publish_obj.pk }}" selected>{{ publish_obj.name }}</option>
                {% else %}
                    <option value="{{ publish_obj.pk }}">{{ publish_obj.name }}</option>
                {% endif %}
            {% endfor %}
        </select></p>
        <p><select name="authors" id="" multiple class="form-control">
            {% for author_obj in author_queryset %}
                {% if author_obj in edit_obj.authors.all %}
                    <option value="{{ author_obj.pk }}" selected>{{ author_obj.name }}</option>
                {% else %}
                    <option value="{{ author_obj.pk }}">{{ author_obj.name }}</option>
                {% endif %}

            {% endfor %}

        </select></p>
        <p><input type="submit" class="btn btn-primary"></p>
    </form>
{% endblock %}